{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('css/videos.css') }}" />
{% endblock %}
{% block content %}
    <div class="containerVideo">
        <div class="contentAlchy">
            <div>
                <a class="btn btn-primary" href="#" id="myBtn">Start</a>
            </div>
        </div>
    </div>
{% endblock %}
